<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

	<appSettings>
		<add key="DB_Server" value="127.0.0.1" />
		<add key="DB_User" value="ADMIN" />
		<add key="DB_Password" value="admin" />
	</appSettings>
</configuration>
